.editor {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100vh;

  &__textarea {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  &__textarea-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
  }

  &__preview {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 10px;
    overflow-y: auto;
  }

  &__preview-content {
    height: 100%;
  }
}