.btn {
  padding: 0px;
  min-width: 40px;
}

.chip {
  margin-right: 5px;
}

.icon {
  font-size: 1.2rem;
}

.link {
  display: flex;
  background-color: white !important;
}

.actionIcon {
  margin-right: 5px;
}